* {
	backface-visibility: hidden;
	border-radius: 1vh;
	border-style: none;
	border: none;
	font-size: 2.5vh;
	image-rendering: pixelated;
	margin: 0;
	text-rendering: optimizeSpeed;
}
bubble {
	animation: fun 1s;
	background-repeat: no-repeat; /* maybe this is faster */
	background-size: 100%;
	cursor: pointer;
	position: fixed;
	text-align: center;
	z-index: -1;
}
@keyframes fun {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
debug {
	background-color: #ff00ff;
	position: fixed;
}
div {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: safe center;
	left: 0;
	overflow: auto;
	position: fixed;
	top: 0;
	width: 100%;
}
loading {
	background-repeat: no-repeat;
	height: 20vh;
	left: 50%;
	position: fixed;
	top: 50%;
	transform: translate(-10vh, -10vh);
	width: 20vh;
	z-index: 1;
}
button {
	background-color: #e65a99; /* 90% */
	color: #ffffff;
	cursor: pointer;
	margin-right: 1vh;
	padding: 1.5vh;
	transition: all 0.18s;
}
button:hover {
	background-color: #ff63a9; /* 100% */
	box-shadow: 0vh 0.5vh #e65a99; /* 90% */
	transform: translateY(-0.5vh);
}
form {
	animation: fun 0.2s;
	background-color: #ffffff; /* 100% */
	box-shadow: 0vh 0.5vh #e6e6e6; /* 90% */
	margin-top: 1vh;
	padding-bottom: 1vh;
	padding-left: 1vh;
	padding-top: 1vh;
}
textarea, input {
	background-color: #f2f2f2; /* 95% */
	margin-bottom: 1vh;
	margin-right: 1vh;
	padding: 1.5vh;
	resize: none;
}
img {
	border-radius: 1vh;
	height: 6vh;
	margin-bottom: 0.2vh;
	margin-right: 1vh;
	object-fit: cover;
	width: 6vh;
}